// Specific CSS for your home-page
main {
  background: white;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .taglines {
    text-align: center;
    width: 50vw;
    .h-text {
      font-family: $landing-header;
      font-size: 95px;
      transition: all 1.1s ease;
      font-weight: bolder;
    }
    p {
    font-size: 25px;
    padding-bottom: 20px;
    }
  }
}

.highlight {
  font-size: 1.1rem;
  // text-transform: uppercase;
  letter-spacing: .08rem;
  color: #ffc600;
}


@media (max-width: 540px) {
  main {
    .taglines {
      text-align: center;
      width: 80vw;
      .h-text {
        font-size: 55px;
      }
      p {
      font-size: 18px;
      }
    }
  }
}
