<main>
  <div class="taglines">
    <span class="h-text">Learn </span>
    <span class="h-text">to </span>
    <span class="h-text enhance"><i class="fas fa-code"></i></span>
    <span class="h-text enhance">CodeWithMe</span>
    <span class="tagline-p">
      <p>Block out time, solve coding challenges with peers, and push each other to the next level.</p>
    </span>
    <%= link_to "Get started for free", "",class: "btn-black-landing", data: {toggle: "modal", target: ".modal-signup"} %>
  </div>
  <%= render 'shared/signup_form' %>
<main>

<script>

window.onload = (event) => {
  const texts = document.querySelectorAll(".enhance");
  texts.forEach((text) => {
    text.classList.add('highlight');
    // text.addEventListener('transitionend', removeTransition)
  });
}

function removeTransition(event) {
  this.classList.remove('highlight');
};

</script>


