.omniauth-button {
  width: 100%;
  text-align: center;
}

.form-divider {
  width: 100%;
  text-align: center;
  color: #555;
}

.modal-signup-button {
  width: 100%;
  text-align: center;

  .btn-primary {
    background: black;
    border-radius: 8px;
    font-size: 18px;
    border: 0;
  }
}

.form-control {
  border: 2px black solid;
  border-radius: 4px;

  &:focus {
    border: 2px #ffc600 solid
  }
}

@media (min-width: 992px) {
  .modal-lg, .modal-xl {
      max-width: 400px;
  }
}
