<div class="container">
  <div class="activity-header">
    Open Coding Challenges
  </div>
  <div class="activity-tabs">
    <h5 class="tab active-tab" style="width: 23%;" data-show="today" aria-selected="true">Today</h5>
    <h5 class="tab" style="width: 23%;" data-show="tomorrow" aria-selected="false">Tomorrow</h5>
    <h5 class="tab" style="width: 23%;" data-show="later" aria-selected="false">Later</h5>
  </div>
  <div class="tab-content show active" id="today">
    <% @activities.each do |activity| %>
      <% if activity.start_time.day == Date.today.mday && activity.start_time.month == Date.today.month %>
        <%= render 'shared/activity_card', activity: activity %>
      <% end %>
    <% end %>
  </div>
  <div class="tab-content hide-content" id="tomorrow">
    <% @activities.each do |activity| %>
      <% if activity.start_time.day == Date.tomorrow.mday && activity.start_time.month == Date.tomorrow.month %>
        <%= render 'shared/activity_card', activity: activity %>
      <% end %>
    <% end %>
  </div>
  <div class="tab-content hide-content" id="later">
    <% @activities.each do |activity| %>
      <% if activity.start_time > Date.tomorrow && activity.start_time.day != Date.tomorrow.mday %>
        <%= render 'shared/activity_card', activity: activity %>
      <% end %>
    <% end %>
  </div>
</div>
